/* Navigation Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    height: 100vh;
}

header {
    /* Other color: 00cc7a9e */
    background-color: #6055009e;
    backdrop-filter: blur(20px);
}

.logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.4s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo-menu .menu-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
    margin-left: -10em;
    color: #fff;
    cursor: pointer;
}

.menu-container a {
    color: #fff;
    font-size: 18px;
    transition: 0.3s ease;
}

.menu-container a:hover {
    color: #00cc7a9e;
}

#menu-icon {
    color: white;
    font-size: 24px;
    margin-left: -90%;
    transition: 0.3s ease;
}

#menu-icon:hover {
    color: #00cc7a9e;
}

.search,
.search a {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: 0.3s ease;
}

.search:hover,
.search a:hover {
    color: #00cc7a9e;
}

.timeline,
.timeline a {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: 0.3s ease;
}

.timeline:hover,
.timeline a:hover {
    color: #00cc7a9e;
}

.favs,
.favs a {
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5em;
    transition: 0.3s ease;
}

.favs:hover,
.favs a:hover {
    color: #00cc7a9e;
}

nav {
    padding: 2em 20em;
    display: flex;
    gap: 5em;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5em;
}

/* Side Menu */
.main-box {
    position: absolute;
    height: 100vh;
    background: linear-gradient(45deg, #00000099, #00000099);
    background-size: cover;
    background-position: center;
}

.sidebar {
    position: fixed;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 280px;
    left: -290px;
    background: #00000049;
    border-right: 2px solid #fff;
    transition: 0.4s;
    z-index: 20;
}

.logo2 a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 1rem 1rem 1rem 3rem;
    border-bottom: 2px solid #fff;
}

.menu2 ul {
    list-style: none;
    padding: 0;
}

.menu2 ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 1rem 1rem 1rem 3rem;
    border-bottom: 1px dashed #ffffff56;
}

.social2 {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    border-top: 2px solid #fff;
}

.social2 a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 0 1rem;
}

.btn-close i {
    position: absolute;
    top: 3%;
    right: 20px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

#menu-icon:checked ~ .sidebar {
    left: 0;
    transition: 0.9s;
}

/* Body Styles */
.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 9em;
}

.info h1 {
    font-size: 87px;
    color: white;
}

.info p {
    font-size: 20px;
    color: white;
}

.info button {
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    border: none;
    background-color: #6055009e;
    border: 2px solid #6055009e;
    transition: 0.3s ease;
    opacity: 0.8;
    margin-top: 1em;
}

video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -5;
}

.info button:hover {
    transform: translateY(-5px);
    opacity: 1;
    cursor: pointer;
}


/* Main Section */
main {
    margin-top: auto;
}

/* Section 1 */
.section-1 {
    background-image: url('./Images/Section1_Background.webp');
    background-size: cover;
    min-height: 100vh;
    backdrop-filter: blur(10px);
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    width: 80px;
    border-radius: 2rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.91, -0.10, 0, .99);
    box-shadow: 5px 10px 15px -5px #000;
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.row h4 {
    width: fit-content;
}

.card>.row>.icon {
    background: #fff;
    color: #000;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
}

.description p {
    color: black;
    padding-top: 5px;
}

input {
    display: none;
}

input:checked+label {
    width: 600px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./Images/Lion1.webp');
}

.card[for="c2"] {
    background-image: url('./Images/Lion2.webp');
}

.card[for="c3"] {
    background-image: url('./Images/Lion3.webp');
}

.card[for="c4"] {
    background-image: url('./Images/Lion4.webp');
}

/* Footer */
footer {
    width: 100%;
    padding: 40px 0;
    background-color: #ba9100b8;
    border-top: 1px solid rgb(139, 139, 139);
}

.social {
    text-align: center;
    padding-bottom: 25px;
}

.social a {
    font-size: 24px;
    color: #000;
    border: 2px solid rgb(79, 79, 79);
    width: 37.5px;
    height: 37.5px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.7;
    transition: 0.3s ease;
}

.social a:hover {
    transform: scale(1.2) translateY(-10px);
    opacity: 1;
    color: rgb(255, 78, 78);
    border: 2px solid rgb(255, 78, 78);
}

footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

footer ul a {
    color: #000;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

footer ul li a:hover {
    border-bottom: 3px solid rgb(255, 78, 78);
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(98, 98, 98);
}

/* Responsive Web Design */
@media screen and (max-width: 1000px) {
   
}